<phpunit strict="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false"
         bootstrap="tests/Bootstrap.php">
    <testsuites>
        <testsuite name="Classes">
            <directory suffix=".php">tests/Classes</directory>
        </testsuite>
    </testsuites>
</phpunit>
