{% extends "default.twig" %}

{% block content %}
<div class="content">
    <h2>Category List</h2>
    <ul>
    {% for item in categories %}
        <li><a href="{{ item.category_url }}">{{ item.category_name }}</a>({{ item.items }})</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
