{% extends "default.twig" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Category List</h1>
        <h2 class="subtitle">Here you go, look at all your categories on this namespace...</h2>
    </div>

    <article class="col-lg-12">
        <ul class="cat-list">
            {% for item in categories %}
                <li><a href="{{ item.category_url }}">{{ item.category_name }}</a> ({{ item.count }})</li>
            {% endfor %}
        </ul>
    </article>
</div>
{% endblock %}
