{% extends "default.twig" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Index</h1>
        <h2 class="subtitle">Hi there, stranger!</h2>
    </div>

    <article class="col-lg-12 text-center">
        <p>This is an about text</p>
    </article>

</div>
{% endblock %}
