{% extends 'main/base' %}

{% block body %}
    <div id="http-error">
        <div class="frame" style="">
            <div class="content" style="">
                <h1>{{ code }}</h1>
                <h2>{{ message }}</h2>
                <p><a href="{{ config.mainUrl }}">{{'common_go_back_extended'|lang}}</a></p>
            </div>
        </div>
    </div>
{% endblock %}
